/*------------------------------------------- 
  GOOGLE FONTS 
-------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/*------------------------------------------- 
  VARIABLES CSS
-------------------------------------------*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --first-color: #069c54;
  --first-color-alt: #048654;
  --first-color-light: #13d68c;
  --title-color: #393939;
  --text-color: #707070;
  --text-color-light: #a6a6a6;
  --body-color: #fbfefd;
  --form-color: #f5f5f5;
  --container-color: #ffffff;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;

  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.91rem;
  --small-font-size: 0.82rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 2rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.8rem;
  }
}

/*------------------------------------------- 
  BASE
-------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

ul {
  list-style: none;
}

/*------------------------------------------- 
  REUSABLE CSS CLASSES
-------------------------------------------*/
.section {
  padding: 2rem 0 4rem;
}

.section_title {
  margin-left: var(--mb-1-5);
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-3);
}

/*------------------------------------------- 
  LAYOUT
-------------------------------------------*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*------------------------------------------- 
  ICONS
-------------------------------------------*/
.icon {
  color: var(--text-color);
  font-weight: var(--font-medium);
}

.icon:hover {
  color: var(--first-color);
}

/*------------------------------------------- 
  BUTTONS
-------------------------------------------*/
.btn {
  display: inline-block;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 0.5rem 1.25rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  transition: 0.3s;
}

.btn_default {
  background-color: var(--first-color);
  color: var(--body-color);
}

.btn_default:hover {
  background-color: var(--first-color-alt);
}

.btn_white {
  background-color: var(--body-color);
  color: var(--text-color);
}

.btn_white:hover {
  color: var(--body-color);
  background-color: var(--first-color-alt);
}

/*------------------------------------------- 
  LOADING
-------------------------------------------*/
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*------------------------------------------- 
  HEADER
-------------------------------------------*/
@import url("./components/header/header.css");

/*------------------------------------------- 
  PRODUCTS
-------------------------------------------*/
@import url("./components/mainpages/products/products.css");

/*------------------------------------------- 
  DETAIL PRODUCTS
-------------------------------------------*/
@import url("./components/mainpages/detailProduct/detailProduct.css");

/*------------------------------------------- 
  PRODUCTS CART
-------------------------------------------*/
@import url("./components/mainpages/cart/cart.css");

/*------------------------------------------- 
  LOGIN
-------------------------------------------*/
@import url("./components/mainpages/auth/login.css");
