.cart_container {
  grid-template-columns: 1fr;
}

.cart_content {
  padding: 0 0.5rem;
  grid-template-columns: 1fr;
  margin-bottom: var(--mb-3);
}

.cart_img {
  height: 80vw;
  margin-bottom: var(--mb-1);
}

.cart_price {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-2);
}

.cart_title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  text-transform: capitalize;
}

.cart_description {
  margin-bottom: var(--mb-1);
}

.cart_sold {
  margin-bottom: var(--mb-1-5);
}
